@import "tailwindcss";

@layer utilities {
  .scrollbar-thin h-32{
    --scrollbar-size: 1px;
  }

  .scrollbar-auto-hide {
    --scrollbar-thumb: transparent;
    --scrollbar-track: transparent;
    scrollbar-color: transparent transparent;
  }

  .scrollbar-auto-hide[data-scrolling="true"] {
    scrollbar-color: var(--scrollbar-thumb, rgba(7, 7, 7, 0.25))
      var(--scrollbar-track, transparent);
  }

  .scrollbar-auto-hide::-webkit-scrollbar {
    width: var(--scrollbar-size, 8px);
    height: var(--scrollbar-size, 8px);
  }

  .scrollbar-auto-hide::-webkit-scrollbar-track {
    background: var(--scrollbar-track, transparent);
    margin: 4px;
  }

  .scrollbar-auto-hide::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 9999px;
    border: 2px solid var(--scrollbar-track, transparent);
    transition: background-color 120ms ease-in-out;
  }

  .scrollbar-auto-hide::-webkit-scrollbar-thumb:hover,
  .scrollbar-auto-hide[data-scrolling="true"]::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb, rgba(0, 0, 0, 0.25));
  }

  .scrollbar-auto-hide::-webkit-scrollbar-button,
  .scrollbar-auto-hide:hover::-webkit-scrollbar-button,
  .scrollbar-auto-hide[data-scrolling="true"]::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  .scrollbar-track-transparent {
    --scrollbar-track: transparent;
  }

  .scrollbar-thumb-gray-300 {
    --scrollbar-thumb: var(--color-gray-300);
  }
}

.dark .dark\\:scrollbar-thumb-gray-700 {
  --scrollbar-thumb: var(--color-gray-700);
}
